{% extends "main/header.html" %}
{% block content %}
<p class="z-depth-5 shadow-demo">
<div class='card'>
    <div class='card-content'>
        <h5 class="header">Appreciate my Work!!</h5>
        <div class="container">
            <div class="row valign-wrapper">
              <div class="col s12 offset-s1 valign">
                <div class="card", style="background: linear-gradient(327deg,#2810c7,#092b79,#008aff);">
                  <div class="card-content white-text">
                    <span class="card-title">Show Love!</span>
                    <p>You will be charged $5(or $9 for 2) for the services mentioned on <a href="makeppbig"><b>makeppbig</b></a></p>
                  </div>
                  <div class="card-action">
                    <a href="#" class="btn tooltipped" data-position="bottom" data-tooltip="This feature is yet to be added!">Purchase me a coffee!</a>
                    <a href="#" class="btn tooltipped" data-position="bottom" data-tooltip="This feature is yet to be added!">Purchase for 2 months($9)</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
</p>

{% endblock %}